body {
  /*background-color: #f9f9f9;*/
  /* background-image: url('svartbakgrunn.jpg');
  background-size: cover;
  height: 828px;
  background-repeat: no-repeat; */
  background-color: #d6d6d6;
  font-family: 'Didact Gothic', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
p {
  color: black;
}

/*LOGG INN - BAKGRUNN*/
#loginMain {
  height: 40em;
  smargin: auto;
  /* width: 50%;
  height: 100%; */
  border: 2px solid #b7b7b7;
  padding: 10px;
  width: 100%;
  text-align: center;
  align-items: center;
  background: linear-gradient(183deg, #5aa597, #01626a);
  background-size: cover;
}
/*LOGG INN - OVERSKRIFT*/
#loginMain h2 {
  margin-top: 2em;
}
#BRA {
  font-family: 'Expletus Sans', cursive;
  font-size: 34px;
  position: relative;
  color: white;
}
#BRA-velg {
  margin-left: 500px;
}
/*LOGG INN - SKJEMA - STRUKTUR*/
.wrapper {
  /*skjema - kledning*/
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 70%;
  padding: 20px;
}
#formContent {
  /*skjema - øvre*/
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

#formFooter {
  /*skjema - nede*/
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}
/*LOGG INN - SKJEMA - INPUT*/
#inputDiv {
  margin-top: 30px;
}
/*TEKST - BAKGRUNN*/
.fadeIn {
  background-color: #ebebeb;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border-top: 1px solid #839595;
  border-bottom: 1px solid #839595;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
#loginInput:focus,
#passwordInput1:focus {
  background-color: #fff;
  border-bottom: 2px solid #349493;
  color: darkgrey;
}

#loginInput::placeholder,
#passwordInput1::placeholder {
  color: black;
}

/*LOGG INN - SKJEMA - KNAPP*/
#loginButton {
  /*logg inn - knapp*/
  background-color: #017282;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#loginButton:hover {
  background-color: #105f71;
}

#loginButton:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
/*LOGG INN - GLEMT PASSORD*/
#glemtPassord {
  color: #349493;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
}

#slettwrapper {
  width: 100%;
}

#slettwrapper button {
  float: right;
}

/*LOGG INN - ANIMASJONER*/

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #329690;
  content: '';
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after {
  width: 100%;
}

/*ALLMENN - SIDEBAR - DIV*/
.sidebar {
  background-image: url('bakgrunngraa.jpg');
  position: fixed;
  padding: 10px;
  left: 0;
  min-width: 100px;
  height: 100%;
  float: left;
  top: 0;
  background-size: cover;
}
/*ALLMENN - SIDEBAR - INNSTILLINGER*/
.settingsPic {
  /*tannhjulikon*/
  color: white;
  background-color: transparent;
  border: none;
  padding: 3px;
  float: left;
  margin: 3px;
}
.settingsPic:hover {
  cursor: pointer;
  color: #e2d361;
}
/*ALLMENN - SIDEBAR - AVSLUTT*/
.logoutPic {
  /*avsluttikon*/
  color: white;
  background-color: transparent;
  border: none;
  padding: 3px;
  float: right;
  margin: 3px;
}

.logoutPic:hover {
  cursor: pointer;
  color: red;
}
/*ALLMENN - SIDEBAR - INNLOGGET BRUKER*/
.innloggetBruker {
  color: white;
}
/*ALLMENN - SIDEBAR - NAVIGASJONSKNAPPER*/
.sidebarNav {
  /*layout*/
  margin-right: -10px;
  padding: 5px;
  padding-left: 5px;
  margin-top: 3px;
  background-color: black;
  border-radius: 8px 0px 0px 8px;
  border-style: solid;
  border-width: thin;
  border-right: 0px;
  border-left: #3f3f3f 1.5px solid;
  border-top: #3f3f3f 1.5px solid;
  border-bottom: #3f3f3f 1.5px solid;
}

.sidebarNav:focus {
  border: 2px solid white;
  border-right: none;
}

.sidebarNav:hover {
  cursor: pointer;
  background-color: #d6d6d6;
  color: black;
  font-weight: bold;
  border-bottom: 1px solid black;
  text-decoration: none;
}
.navLink {
  /*tekst*/
  color: white;
  text-decoration: none;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 16px;
}
.activeRoute div {
  background-color: #d6d6d6;
  color: black;
  font-weight: bold;
  border: none;
  border-bottom: 1.5px solid black;
  border-top: 1.5px solid black;
  border-left: 1.5px solid black;
}

/*ALLMENN - STI - DIV*/
.sti {
  top: 15px;
  margin-left: 120px;
  position: absolute;
}
/*ALLMENN - STI - STITEKST*/
.sti a {
  padding: 10px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: #d6d6d6;
  color: black;
}

.sti a:hover {
  text-decoration: none;
  font-weight: bold;
  background-color: #f5f5f5;
}

/*ALLMENN - STI - PIL OPP*/
.sti #pilopp {
  padding-right: 10px;
}

.sti #pilopp:hover {
  border-bottom: 1px solid black;
}
.sti #pilopp:focus {
  border-bottom: 1px solid black;
}

/*ADMIN - HJEM - DIV*/
.hjem {
  margin: auto;
  color: black;
  font-family: 'Didact Gothic', sans-serif;
  text-align: center;
  width: 80%;
  position: absolute;
  left: 120px;
  top: 30px;
}

/*ADMIN - HJEM - OVERSKRIFT*/
.hjem h1 {
  font-size: 60px;
}

.hjem select {
  float: right;
  width: 25%;
}

.hjem select:focus {
  border: 2px solid black;
  background-color: black;
  color: white;
}

.hjem h5 {
  float: right;
}
#hjemSøk {
  font-size: 18px;
  border-top: none;
  border-bottom: solid 3px black;
  border-radius: 5px;
  border-left: none;
  border-right: none;
  padding: 3px;
  width: 50%;
  padding-left: 30px;
  background-image: url('../media/search.png');
  background-position: 5px 5px;
  background-repeat: no-repeat;
  float: left;
  margin-bottom: 12px;
}
#hjemSøk:focus {
  border-bottom: 3px solid white;
}
#hjemSøk::placeholder {
  color: black;
}
#hjemLabel {
  float: right;
  margin-right: 5px;
}
#hjemSortering {
  float: right;
  border-color: black;
  background-color: #ddd;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 17px;
  border-radius: 4px;
}

#hjemSortering:focus {
  border-bottom: 3px solid white;
}

/*ALLMENN - IKONER*/
.fa-times {
  color: #bf2e28;
}

.fa-check {
  color: #017282;
}

.fa-lock {
  color: #017282;
}

.fa-unlock {
  color: #bf2e28;
}

.fa:focus {
  border-bottom: 1px solid white;
}

/*ALLMENN - TABELLNAVN*/
h3 {
  text-align: left;
  font-weight: bold;
  padding: 15px;
  padding-top: 0px;
  width: 100%;
  margin-top: 0px;
  font-size: 1.6em;
  border-bottom: 3px solid black;
  font-family: 'Didact Gothic', sans-serif;
}

/*ALLMENN - TABELL - SØKE*/
.searchInput {
  font-size: 18px;
  margin-top: 18px;
  border-top: none;
  border-bottom: solid 3px black;
  border-radius: 5px;
  border-left: none;
  border-right: none;
  padding: 3px;
  width: 50%;
  padding-left: 30px;
  background-image: url('../media/search.png');
  background-position: 5px 5px;
  background-repeat: no-repeat;
}
.searchInput:focus {
  border-color: black;
}
.searchInput::placeholder {
  color: black;
}
/*ALLMENN - TABELL - SORTERING*/
.sorterEtter {
  float: right;
  font-size: 16px;
  padding: 5px;
  margin-bottom: 5px;
}

.sorterEtter:focus {
  border-bottom: 3px solid white;
}

/*ALLMENN - TABELL*/
.smallTableDiv {
  width: 100%;
}
.smallTableDiv table {
  width: 100%;
}
.smallTableDiv td {
  text-align: left;
}
.smallTableDiv th {
  text-align: center;
}
.smallTableDiv td:nth-child(odd) {
  font-weight: bold;
}
.tabellLayout {
  /*layout*/
  width: 100%;
  margin-right: 100px;
}

.tabellDiv {
  overflow-y: auto;
  max-height: 65vh;
  width: 100%;
  min-width: 70vw;
  overflow: auto;
}

.tabellDiv:focus {
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-radius: 5px;
}

.tabellLayout table {
  width: 100%;
  float: left;
  height: auto;
  table-layout: fixed;
  text-align: center;
}
table,
td,
th {
  border-bottom: 7px solid #a3a3a3;
  border-collapse: collapse;
  padding: 13px;
}
table {
  width: 100%;
}

th {
  background-color: black;
  color: white;
  text-transform: uppercase;
}

tr {
  background-color: #efefef;
  font-family: 'Didact Gothic', sans-serif;
  text-align: center;
}

tr:hover {
  background-color: white;
}

td a:focus {
  text-decoration: underline;
  font-weight: bold;
}

.bestillingDiv {
  width: 100%;
}
.bestillingTekst {
  font-size: 18px;
  font-weight: bold;
}
tr a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
}

tr a:hover {
  text-decoration: none;
  font-weight: bolder;
  color: black;
}

td {
  padding: 7px;
}

/*ALLMENN - TABELL - KNAPP*/
.knappLayout {
  background-color: #768275;
  padding: 5px;
  border: black 1px solid;
  color: white;
  width: 100%;
  margin-top: 5px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  opacity: 1;
  font-family: 'Didact Gothic', sans-serif;
}

.knappLayout:focus {
  border-bottom: 3px solid white;
}

/*ALLMENN - KART*/
#kartBeholder {
  padding: 20px;
  width: 100%;
  height: 400px;
}
/*ADMIN - RAPPORT - LABEL*/
.bestillingLabel {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 18px;
}

/*ADMIN - RAPPORT - INPUT*/
.skjemaInput {
  margin: 5px;
}
.dateInput {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 16px;
}

/*ADMIN - RAPPORT - KNAPP*/
/*#iDag og #totalt - kommer..*/

/*ALLMENN - KNAPP - LAGRE*/
.knappLagre {
  background-color: #768275;
  padding: 5px;
  border: black 1px solid;
  color: white;
  width: 50%;
  margin-top: 5px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  opacity: 1;
  font-family: 'Didact Gothic', sans-serif;
}

.knappLagre:focus {
  border: 2px solid white;
}

.knappLayout:hover,
.knappLagre:hover,
.knappAvbryt:hover,
.knappLayoutSlett:hover {
  cursor: pointer;
  opacity: 0.7;
  border-color: black;
}

/*ALLMENN - KNAPP - AVBRYT*/
.knappAvbryt {
  background-color: #a38080;
  padding: 5px;
  border: black 1px solid;
  color: white;
  width: 50%;
  margin-top: 5px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  opacity: 1;
  font-family: 'Didact Gothic', sans-serif;
}

.knappAvbryt:focus {
  border: 2px solid white;
}

.wrapperAvbryt {
  width: 100%;
}
.wrapperLagre {
}
/*ALLMENN - INNSTILLINGER - TEMA KNAPP */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* SALG - BESTILLING - USYNLIG TABELL*/
.usynligtabell {
  border: 0px solid #8fc1e3;
  border-width: 0px;
  background-color: white;
}

/*SALG - BESTILLING - SORTERING*/
.sorteringsvalg {
  width: auto;
}

/*ALLMENN - SELECT*/
select {
  width: 100%;
}
.selectClass {
  margin-left: 0px;
  margin-bottom: 6px;
  border-radius: 4px;
  border-color: black;
  background-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 17px;
}

.selectClass:focus {
  border-bottom: 3px solid white;
}

#statistikkSelect {
  padding: 3px;
  border: 1px solid #ddd;
}
#statistikkSelect:hover {
  border: 1px solid darkgrey;
}

#statistikkSelect:focus {
  border-bottom: 3px solid white;
}

/*ADMIN - NY SYKKEL - NUMMERFELT*/
.litenummerfelt {
  width: 40px;
}

#utstyr {
  padding-top: 15px;
}

/*FINNER IKKE OPPHAV*/
.valgDiv {
  border: none;
  padding-right: 2px;
}

/*ADMIN - LEGG TIL ANSATT - LABEL + INPUT*/
.loginLabel {
  font-size: 18px;
  position: center;
  margin-left: 0px;
}
.loginInput {
  margin-left: 0px;
  margin-bottom: 6px;
  border-radius: 4px;
  border-color: black;
  background-color: #bdbfc1;
  border-top: none;
  border-left: none;
  border-right: none;
  color: black;
}
.loginInput:focus {
  border-bottom: 3px solid white;
}

/*BESTILLING - UTEN SYKKEL & NESTE KNAPP*/
.litenknapp {
  background-color: #228e90;
  padding: 5px;
  border: #228e90 1px solid;
  color: white;
  position: absolute;
  float: right;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  opacity: 1;
  font-family: 'Didact Gothic', sans-serif;
  margin-left: 10px;
}

.litenknapp:focus {
  border: 2px solid white;
}

/*BESTILLING - FULLFØR & LAGRE KNAPP*/
.litenløsknapp {
  background-color: #228e90;
  padding: 5px;
  border: #228e90 1px solid;
  color: white;
  right: 0;
  margin-top: 5px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  opacity: 1;
  font-family: 'Didact Gothic', sans-serif;
}

.litenløsknapp:focus {
  border: 2px solid white;
}

#litenløsknappHoyre {
  float: right;
}
#litenløsknappTilbake {
  background-color: #228e90;
  padding: 5px;
  border: #228e90 1px solid;
  color: white;
  margin-top: 5px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  opacity: 1;
  font-family: 'Didact Gothic', sans-serif;
  cursor: pointer;
  float: right;
  margin: 5px;
  width: 48%;
}
#litenløsknappTilbake:focus {
  border: 2px solid black;
}

/*SLETT - SYKKEL & UTSTYR - KNAPP*/
.knappLayoutSlett {
  background-image: url('../media/danger.jpg');
  padding: 7px;
  border: #228e90 1px solid;
  color: black;
  width: 100%;
  margin-top: 5px;
  font-size: 17px;
  font-weight: bold;
  border-radius: 5px;
  opacity: 1;
  font-family: 'Didact Gothic', sans-serif;
}

/*FINNER IKKE OPPHAV*/
#notis {
  background-color: yellow;
  margin: auto;
  margin-bottom: 10px;
  width: 200px;
  border: 2px solid #b7b7b7;
  padding: 10px;
}
.dbTabell {
  background-color: red;
  float: left;
}
/*GJØR AT HANDLEKURVEN KOMMER PÅ HØYRE SIDE*/
/* .mainContent > div {
  float: right;
  margin: 10px;
} */

.mainContent {
  width: 80%;
}
/*ALLMENN - MAIN CONTENT*/
.mainContent {
  float: left;
  position: absolute;
  top: 50px;
  margin-left: 110px;
  padding-left: 10px;
  margin-right: 5px;
  padding-bottom: 20px;
}

/*ADMIN - BRUKER*/
#eksisterendeBrukernavn {
  color: red;
}

/*SELGER - BESTILLING*/
.handlekurv {
  width: 100%;
  min-height: 50px;
  background-color: #fffcf3;
  margin-top: 10px;
  border: 1px solid black;
  padding: 10px;
}

.selectBestilling {
  width: inherit;
}

#nybestilling > tbody > tr > td {
  background-image: url('bakgrunntekstur.png');
}
#nybestilling {
  max-width: 100px;
}

/*LAGER - LEGG TIL SYKKEL*/
.leggTilSykkelTd {
  font-weight: bold;
}

.leggTilSykkelTd:hover {
  cursor: pointer;
  background-color: #bfbdb6;
}

.suksess {
  color: green;
}

/* OTHERS */

*:focus {
  outline: none;
}

#icon {
  width: 60%;
}

/*BILDEBREDDE*/
img {
  width: 50px;
}

/*ANIMASJON SYKKELHJUL*/
@-webkit-keyframes spin-me {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@keyframes spin-me {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

.thing-to-spin {
  /*animation-name*/
  -webkit-animation-name: spin-me;
  animation-name: spin-me;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /*animation-duration*/
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  /*animation-timing-function*/
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;

  /* Shorthand */
  /*  -webkit-animation: spin-me 500ms linear infinite;
  animation: spin-me 500ms linear infinite;*/
}

#container {
  background-image: url('bakgrunntekstur.png');
}

/* ------------------ test test ------------------- */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.grafWrapper {
  display: block;
  float: left;
  width: 100%;
  margin-top: 5em;
}
/*ADMIN - RAPPORT - GRAF*/
.salgIdagWrapper {
  display: block;
  width: 100%;
  height: auto;
  float: left;
  border-bottom: 1px solid black;
}
.grafWrapperJuster {
  overflow-x: auto;
  overflow-y: hidden;
}
.salgIDagKnapper {
  border-bottom: 3px solid black;
  padding-bottom: 10px;
}
/*ADMIN - DIVERSE - LEGG TIL LOKASJON*/
#lokasjonTable td {
  text-align: left;
  font-size: 17px;
}
#lokasjonKnapp {
  width: 100%;
}
#leggTilKnapp {
  width: 100%;
}
.knappArrowRight {
  color: white;
  background-color: black;
  border-color: black;
  border-radius: 5px;
}
.knappArrowRight:focus {
  background-color: white;
  color: black;
}
.checkboxClass:focus {
  outline: 2px solid black;
}

/* skille sidebar-menyen på admin. Dele opp slik at salg og lager sine
funksjoner blir litt delt fra admin sine funksjoner */
#skillediv {
  margin-top: 20px;
}
